/* Reddit Tabs */

body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab .active {
    background-color: #ccc;
}

/* Style the tab content */
.tkltabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.leftandright {
    margin: auto;
}

.cmc {
padding-right: 5px;
}

.right {
padding: 5px;
}

@media screen and (min-width: 1000px) {
.cmc, .right {
    width: 47%;
}

.cmc {
float:left;
padding-right: 15px;
}

.right {
float: left;
border: 2px solid #E4E6EB;
border-radius: 10px;
padding: 10px;
}
}

.coinmarketcap-currency-widget {
    padding: 0 0 10px 0;
}

.footer {
    clear: both;
}

h2 {
    padding: 5px;
    color: white;
    margin-bottom: 0;
}

.reddit_title {
    background: #FF4500;
}

.twitter_title {
    background: #08a0e9;
}

script {
    display: block;
}